# Configuration file for PyDip, the Python Diplomacy program
# 
# Settings in $HOME/.pydiprc will override those in pydip.cfg of the
# current working directory.
# 
# Lines starting with hash marks (#) or semicolons (;) are ignored,
# and may be used for comments.
# 
# The values shown in this sample file are the defaults.
# The sections are ordered in approximate likelihood of change.


[game]
# Parameters to be sent in the HLO message.
# For the press inauguration, David used:
# ( LVL 130 ) ( MTL 600 ) ( RTL 120 ) ( BTL 180 ) ( DSD ) ( PDA )
syntax level = 8000
build time limit = 0
retreat time limit = 0
move time limit = 0
press time limit = 0
partial draws allowed = no
any orders allowed = no
no press during builds = no
no press during retreats = no
deadline stops on disconnection = no


[server]
# Options for server operation.
# The default admin password is single space; impossible to represent here.
allow takeovers = no
send admin messages = no
forward admin messages = no
close on disconnect = no
default variant = standard
; admin command password = ' '
number of games = 1
minimum player count for bots = 0


[judge]
# Options for basic judge operation,
# including David Norman's Variable-Length mix-in rule
total years before setting draw = 4000
static years before setting draw = 1000
years before variable end = 5000
length of variable end = 10
variation of variable end = 1.55
list draw parties in DIAS = no
publish order sets = no
publish individual orders = yes


[clients]
# Options applicable for all PyDip clients.
invalid message response = ignore
validate incoming messages = yes
confirm order submission = no


[network]
# You may change the host and port, but the rest should be left alone.
# A blank host indicates to listen on all possible addresses,
# and connect to localhost.
host = 
port = 16713
client-server protocol version = 1
magic number = 0xDA10
first error number = 1
error codes = Timeout, NotIM, Endian, BadMagic, Version, DupIM, ServerIM, MessType, Short, QuickDM, NotRM, UnexpectedRM, ClientRM, UnknownToken
timeout for select() without deadline = 600
send unnecessary final messages = no


[dumberbot]
# Weights and probabilities for David's Dumbbot algorithm.
# This section can be duplicated for [evilbot] and [combobot], if desired.
spring attack = 7000
spring defence = 3000
fall attack = 6000
fall defence = 4000
spring proximity = 400, 700, 30, 10, 6, 5, 4, 3, 2, 1
spring strength = 10000
spring competition = 10000
fall proximity = 1000, 100, 30, 10, 6, 5, 4, 3, 2, 1
fall strength = 10000
fall competition = 10000
unit attack = 20
home vacation = 0
home attack = 3
home defence = 4
build defence = 10000
build proximity = 1000, 100, 30, 10, 6, 5, 4, 3, 2, 1
remove defence = 10000
remove proximity = 1000, 100, 30, 10, 6, 5, 4, 3, 2, 1
play alternative = 75
alternative modifier = 100
square coefficient = 2
size coefficient = -9
size constant = 16


[datc]
# Options from Lucas B. Kruijswijk's Diplomacy Adjudicator Test Cases
# http://web.inter.nl.net/users/L.B.Kruijswijk/
# Not all options are supported; some cannot be, within DAIDE.
# Some options use letters not used by the DATC; in general,
# the syntax disallows the option entirely in these cases.
multi-route convoy disruption = b
convoy disruption paradoxes = d
convoying to adjacent place = f
support cut on attack on itself via convoy = a
retreat when dislodged by convoy = b
convoy path specification = b
avoiding a head to head battle to bounce a unit = b
omitted coast specification in move order when two coasts are possible = a
omitted coast specification in move order when one coast is possible = c
move order to impossible coast = b
coast specification in support order = d
wrong coast of ordered unit = a
unknown coasts or irrelevant coasts = a
coast specification in build order = a
missing unit designation = a
wrong unit designation = a
missing unit designation in build order = a
building a fleet in a land area = a
missing nationality in support order = a
wrong nationality in support order = a
multiple order sets with defined order = b
multiple order sets with undefined order = b
multiple orders to the same unit = b
too many build orders = b
multiple build orders for one area = c
too many disband orders = b
waiving builds = a
removing a unit in civil disorder = d
receiving hold support in civil disorder = b
illegal orders = d
poorly written orders = e
implicit orders = b
perpetual orders = b
proxy orders = c
flying dutchman = a


[tokens]
# Minor options for dealing with token conversion.
squeeze parens = no
ignore unknown = no
double quotes = yes
escape char = \
quot char = "


[syntax]
# Syntax files and special tokens.
# Do not touch this section unless you understand the code.
variants file = docs/variants.html
protocol file = docs/dcsp.html
syntax file = docs/syntax.txt
move phases = SPR, FAL
retreat phases = SUM, AUT
build phases = WIN
move order mask = 0x20
retreat order mask = 0x40
build order mask = 0x80
